

body {
    background-image: url('../images/course-img-bg.jpg');
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: -16px;
}

.navbar > ul {
    list-style-type: none;
    display: flex;
    padding-top: 0;
    background-color:#515964;
    height: 80px;
    text-transform: uppercase;
}

.navbar a, li {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    margin-right: 20px;
    font-size: 30px;
    margin-top: 23px;
}

.navbar li > a:hover {
    background-color: white;
    color: black;
}

.agreement {
    background-color: #727881;
    max-width: 45%;
    font-size: 30px;
    line-height: 45px;
    height: auto;
    margin: 0 auto;
    margin-top: 1.5em;
    color: white;
    font-family: sans-serif;
    border-radius: 15px 15px;
    padding: 1px 25px 1px 25px;
    margin-bottom: 100px;
}


#signing {
        background-color: #727881;
        max-width: 28%;
        height: auto;
        font-size: 30px;
        line-height: 45px;
        margin: 0 auto;
        margin-top: -2em;
        color: white;
        font-family: sans-serif;
        border-radius: 15px 15px;
        padding: 25px;
        margin-bottom: 100px;
        font-style: italic;
}


h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    font-size: 50px;
    margin-top: 50px;
    max-width: 14%;

}

footer {
    background-color: #515964;
    height: 100px;
    width: 100%;
}

footer ul {
    display: flex;
    flex-direction: row;
}

footer a, footer li {
    font-size: 20px;
    color: white;
    margin: 0 auto;
    margin-top: 30px;
    text-decoration: none;
    list-style-type: none;
}

@media screen and (max-width: 950px) {
.agreement, #signing {
        font-size: 20px;
    }

h2 {
    font-size: 30px;
}
}