body {
    margin: 0;
    padding: 0;
    background-color: rgba(39, 26, 2, 0.582);
}

.navbar {
    display: flex;
    background-color: rgb(12, 13, 19);
    margin-bottom: 90px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
    color: white;
    font-size: 40px;
}


.navbar a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 35px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
    transition: 0.1s ease;
    border: 1px rgb(12, 13, 19) solid;
    background-color: white;
    color: rgb(12, 13, 19);
    border-radius: 2%;
}

img {
    margin: 0 auto;
    display: block;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

main p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}

footer {
    background-color: rgb(12, 13, 19);
    position: absolute;
    bottom: 0;
    height: 110px;
    width: 100vw;
    /* overflow: hidden; */
}

footer p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

footer ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
}

footer a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    padding-right: 30px;
}

/* #credits ul {
    display:inline-block;
    list-style-type: none;
} */

/* #img-cred {
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
}

#site-cred {
    color:white;
    display: block;
    padding-right: 50px;
} */
