body {
    background-color: #00b295;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}

.navbar {
    overflow: hidden;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: row;
}


.navbar a:not(.title) {
    padding-top: 65px;
    float:left;
    text-align: center;
    margin-left: 25px;
    font-size: 30px;
    color: rgb(134, 74, 190);
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif, bold;
}


h1 {
    font-size: 40px;
    padding-bottom: 15px;
    border-radius: 10px 10px 0 0;
    margin: 0;
    background-color: #00b295;
    height: 40px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif, bold;
}

.active {
    font-size: 40px;
    padding-bottom: 15px;
    border-radius: 10px 10px 0 0;
    margin: 0;
    background-color: #00b295;
    height: 40px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif, bold;
  }

.navbar a:hover:not(.title) {
    transition: 0.2s ease;
    opacity: 45%;
    color: #00b295;
}

.title {
    padding: 10px;
    padding-right: 15px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-top: 50px;
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
    color: white;
    font-size: 4em;
    margin-left:50px;
}

h3 {
    color: #00b295;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    border-color: white;
    padding: 20px;
    background-color: white;
}

.link-title {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}


#install {
    padding: 50px;
}

#install a {
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 20px;
    color:white;
    border: 3px white solid;
    border-radius: 10%;
    background-color: #00b295;
    margin-bottom: 70px;
}

#install a:hover {
    border-color: #00b295;
    background-color: white;
    color:#00b295;
}

#doc {
    padding: 50px;
}

#doc a {
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 20px;
    color:white;
    border: 3px white solid;
    border-radius: 10%;
    background-color: #00b295;
    margin-bottom: 70px;
}

#doc a:hover {
    border-color: #00b295;
    background-color: white;
    color:#00b295;
}


#proj {
    padding: 50px;
}

#proj a {
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 20px;
    color:white;
    border: 3px white solid;
    border-radius: 10%;
    background-color: #00b295;
    margin-bottom: 70px;
}

#proj a:hover {
    border-color: #00b295;
    background-color: white;
    color:#00b295;
}

footer {
    border-top: 5px white solid;
    width: 100vw;
    padding-bottom: 50px;
}

footer a:not(.credits) {
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    margin: 0 auto;
    margin-top: 30px;
    text-decoration: none;
    list-style-type: none;
}

footer p {
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    margin: 0 auto;
    margin-top: 30px;
}

.credits {
    display: flex;
    padding-bottom: 25px;
}