body {
  background-color: #00b295;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
}

.navbar {
  overflow: hidden;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: row;
}


h2 > span {
  background: -webkit-linear-gradient(#5fb5e7, #ac579e);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.navbar a:not(.title) {
  padding-top: 65px;
  float: left;
  text-align: center;
  margin-left: 25px;
  font-size: 30px;
  color: rgb(134, 74, 190);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif, bold;
}

.active {
  font-size: 40px;
  border-radius: 10px 10px 0 0;
  margin: 0;
  background-color: #00b295;
  height: 40px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif, bold;
}

.navbar a:hover:not(.title) {
  transition: 0.2s ease;
  opacity: 45%;
  color: #00b295;
}



.title {
  padding: 10px;
  padding-right: 15px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin-top: 50px;
}

/* ----- END OF NAVBAR CSS CODE ----- */

h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial;
  text-align: center;
  color: white;
  font-size: 4em;
}

img {
  height: 250px;
  display: block;
  margin: 0 auto;
}

#about {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 50px;
}

#about h3 {
  text-align: center;
  color: rgb(134, 74, 190);
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 30px;
}

.container {
  display: flex;
  padding-bottom: 15em;
}

.container2 {
  padding-bottom: 15em;
  display: flex;
}

.container2 > p {
  padding-right: 120px;
  padding-left: 50px;
  text-align: right;
}

.container2 img {
  border-radius: 3%;
  width: 45%;
  height: auto;
  box-shadow: 10px 10px 10px;
  margin-top: 50px;
  margin-right: 60px;
}

#mySlides {
  width: 100%;
  border-radius: 3%;
  box-shadow: 10px 10px 10px;
  margin-top: -70px;
}

.container > p,
.container2 > p {
  font-family: sans-serif;
  font-size: 22px;
  max-width: 45%;
  line-height: 40px;
}

.buttons {
  display: flex;
  padding-top: 50px;
  padding-bottom: 20px;
}

.buttons > a {
  font-size: 30px;
  margin-right: -20px;
  margin: 0 auto;
}

#learn-more {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 15px;
  border-radius: 10px;
  border: 3px #00b295 solid;
  background-color: #00b295;
  text-decoration: none;
}

#learn-more:hover {
  color: #00b295;
  border: 3px #00b295 solid;
  background-color: white;
  transition: 0.2s ease;
}

#start-code {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 15px;
  border-radius: 10px;
  border: 3px rgb(134, 74, 190) solid;
  background-color: rgb(134, 74, 190);
  text-decoration: none;
}

#start-code:hover {
  color: rgb(134, 74, 190);
  border: 3px rgb(134, 74, 190) solid;
  background-color: white;
  transition: 0.2s ease;
}

.container3 {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5em;
}

.container3 h3 {
  text-align: center;
  max-width: 65%;
  color: rgb(134, 74, 190);
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 30px;
  margin-left: -15px;
}

#author {
  color: rgb(99, 99, 111);
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 200px;
  margin-left: -150px;
}

.container3 img {
  width: 20%;
  border-radius: 2%;
  height: auto;
  margin-left: 50px;
}

.container3 p:not(#author) {
  max-width: 55%;
  line-height: 45px;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 125px;
  text-align: right;
}

p:nth-last-child(2) {
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  border-top: 5px white solid;
  width: 100vw;
  padding-bottom: 50px;
}

footer ul {
  display: flex;
  flex-direction: row;
}

footer a:not(.credits) {
  font-size: 25px;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  margin: 0 auto;
  margin-top: 30px;
  text-decoration: none;
  list-style-type: none;
}

footer p {
  font-size: 25px;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  margin: 0 auto;
  margin-top: 30px;
}

.credits {
  display: flex;
  padding-bottom: 25px;
}

