<footer>
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/christian-bego/">LinkedIn</a>
      </li>
      <li><a href="https://chr1s0x1.github.io/">GitHub Page</a></li>
      <li><a href="https://webpages.charlotte.edu/cbego1/">UNCC Page</a></li>
      <li><a href="https://github.com/chr1s0x1/chr1s0x1.github.io">GitHub.io</a></li>
      <li><a href="https://www.freecodecamp.org/ChristianBego">FreeCodeCamp</a></li>
      <li><a href="https://www.codecademy.com/profiles/ChristianB_">Codecademy</a></li>
    </ul>
    <p id="firm">Designed by <a href="chriscreates.com/index.html">ChrisCreates.com</a></p>
  </footer>