body {
    background-image: url('../images/homepage-image.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-color: 	#645c51;
    margin: 0;
    margin-top: -16px;
 }