ul {
    display: flex;
    list-style: none;
    background-color: grey;
    padding-bottom: 25px;
}

li {
    padding-left: 20px;
    margin-top: 30px;
    font-size: 30px;
}

h1 {
    color: red;
}

img {
    height: 600px;
}